.margen{
    margin-top:10%;
    
    border-radius: 6px;
    
}

.centrado{
    margin-bottom: 2%;
    margin-top:2%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}